body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'navbar'
    'header'
    'content'
    'footer'
    ;
}

.navbar {
    grid-area: navbar;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
    color: #c70039;
    padding: 25px 30px 25px 100px;
}

li a:hover {
    color: #fedd1f;
    cursor: pointer;
    border: 1px solid black;
}

#logo {
    font-size: 40px;
    font-family: Castellar;
    font-weight: bolder;
    color: #b30033;
    text-shadow: 5px 1px 10px #c70039;
    padding: 10px 30px 25px 100px;
}

#logo:hover {
    color: #fcd602;
    text-shadow: 5px 1px 10px #fedd1f;
    cursor: pointer;
}

.header {
    grid-area: header;
    height: 500px;
    background-image: url("./Foto/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-button {
    background-color: #c70039;
    border: none;
    color: #fff;
    padding: 20px 37px;
    text-align: center;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
}

.header-button:hover {
    background-color: #cc194c;
    cursor: pointer;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    text-align: center;
    padding: 130px;
    height: 500px;
}

.footer {
    grid-area: footer;
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}

